<% if signed_in? %>
<table class ="front" summary ="For signed-in users">
	<tr>
	<td class="main">
<h1 class="micropost">What's up?</h1>
<%= render 'shared/micropost_form' %>
<%= render 'shared/feed' %>
</td>
<td class="sidebar round">
<%= render 'shared/user_info' %>
<%= render 'shared/stats' %>
</td>
</tr>
</table>

<% else %>
<body>
	<br/>
	<br/>
<p>
<h1 >Earnestly!</h1></p>
<p>
Your voice here!! Let the commune know your perspective!!Connect instantly to what really matters to yo.Catch up with the changing world.Stay connected to ppl yo know and admire!! 
</p >
<%= link_to "Sign up now!" , signup_path ,   :class => "signup_button round" %>


<% end %>
